.content-2 {
    margin:-20px 0 40px 0;
    position: relative;
    background: #18BC9C;
    color: #fff;
    padding: 15px 30px 15px 55px;
    text-align: justify;
    font-size: 18px;
    font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}