<section class="App"  style="padding: 0 !important;">
  <Navbar></Navbar>
  <div class="header">
    <h1 class="header-main">encurte. compartilhe. avalie.</h1>
    <h2 class="header-sub">Junte-se a nossa plataforma de gerenciamento de links</h2>
  </div>

  <form [formGroup]="editForm">
    <input name="name" type="text" [formControlName]="'url'" maxlength="250" placeholder="Cole aqui o link que deseja encurtar" />
    <button type="button" [disabled]="!editForm.valid || loading" (click)="submit()">
      encurtar
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only"> Processando </span>
      </span>
    </button>
  </form>

  <div class="list-cont">
    <ul class="bit-list">
      <ng-container *ngIf="urlEncurtada && urlEncurtada !== ''">
        <p class="flex p-4 m-4">
          URL Encurtada: {{ urlSite + urlEncurtada }}
        </p>
      </ng-container>
    </ul>
  </div>
</section>

<router-outlet></router-outlet>