<section id="how-it-works">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Como funciona</h2>
                <hr class="star-primary"><br>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-4">
                <div class="hiw-box">
                    <div class="jumbotron-icon"><i class="fa fa-6 fa-link" aria-hidden="true"></i></div>
                    <div class="caption">
                        <h5 class="caption-title">TRANSFORME URLs LONGAS</h5>
                        <div class="caption-content">
                            https://techcrunch.com/2017/10/24/youll-be-able-to-get-the-iphone-x-at-an-apple-store-on-launch-day-if-you-get-there-early/
                        </div>
                        <h3>1.</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="hiw-box">
                    <div class="jumbotron-icon"><i class="fa fa-6 fa-paper-plane" aria-hidden="true"></i></div>
                    <div class="caption">
                        <h5 class="caption-title">em URLs CURTOS E FÁCEIS</h5>
                        <div class="caption-content">
                            <a href="https://t2mio.com/De5rgX"
                                target="_blank">https://YourBrannd.com/YourKeyword</a><br>ex,<br>https://brandXYZ.me/iPhone
                        </div>
                        <h3>2.</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="hiw-box">
                    <div class="jumbotron-icon"><i class="fa fa-6 fa-line-chart" aria-hidden="true"></i></div>
                    <div class="caption">
                        <h5 class="caption-title">e ACOMPANHE TUDO</h5>
                        <div class="caption-content">
                            <br>Rastreie cada clique anual, mensal e diariamente.
                        </div>
                        <h3>3.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="key-points">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="point-col">
                    <div class="text-center"><img src="https://t2mio.com/assets/images/t2m-urls-icon-gdpr-privacy.png"
                            alt="GDPR Policy"></div>
                    <h4>GDPR Privacy</h4>
                    <p>T2M platform is fully compliant with GDPR privacy law.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="point-col">
                    <div class="text-center"><img
                            src="https://t2mio.com/assets/images/t2m-urls-icon-aws-web-services.png"
                            alt="Amazon Web Services Official Logo"></div>
                    <h4>Hosted on AWS</h4>
                    <p>Proudly hosted with the world's #1 hosting company Amazon Web Services (AWS).</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="point-col">
                    <div class="text-center"><img src="https://t2mio.com/assets/images/t2m-urls-icon-chat.png"
                            alt="Chat Icon">
                    </div>
                    <h4>No. #1 Support Team</h4>
                    <p>Best and most responsive support team. All of our success stories confirm the same.</p>
                </div>
            </div>
        </div>
    </div>
</section>